[mysqld]
user = root
datadir = /var/lib/mysql
port = 3306
# Use 2 next lines to bind the locally hosted db with the container / if not cant create db
bind-address = 0.0.0.0
skip-networking = false
max_allowed_packet = 150M
